#header{
    position: absolute;
    top: 0;
    left: 0;
}

#header h1{
    font-size: 32px;

}

/* when we put "p"without the # header, it will apply
to every "p"vtag on the page */

p{
    font-size: 12px;
}